:root {
  --lime: #C6DB57; 
  --blue: #276CA4; 
  --orange: #F58242;  
  --shadow: 2px 2px 6px black; 
}
.body {
  margin-right: 10%;
  margin-left: 10%; 
}
body{
  margin: 0; 
}
* {
  font-family: 'Lato', serif; 
}
main {
  flex: 1 0 auto; 
}
h1 {
  font-family: 'a Alloy Ink', serif; 
  font-size:58px;
  -webkit-text-stroke: 2px black;
}
h2 {
  font-family: 'a Alloy Ink', serif; 
  font-size:48px;
}
h3 {
  font-family: 'a Alloy Ink', serif; 
  font-size: 30px;
}
h4 { 
  font-size: 20px; 
  text-transform: uppercase;
}
p {
  font-size: 18px; 
}
.customButton {
  background-color: white; 
  font-size: 26px;
  font-weight: bold;
  font-family: 'a Alloy Ink', serif;
  color: black; 
  padding: 10px 20px; 
  border-radius: 25px;
  border:none; 
  transition: .5s; 
}
.customButton:hover, .customButton:focus {
  color: white; 
  box-shadow: inset 6.5em 0 0 0 black; 
  cursor:pointer; 
}

/* NAVBAR */ 
nav { 
  background: linear-gradient(#CEE3F4, #3396EB, #276CA4); 
  width: 100%; 
}
.navHeader {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.navbarHeader {
  -webkit-text-stroke: 2px black;
  color:var(--orange); 
}
.links{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.links a{
  font-family: 'Lato', serif;
  font-size:18px; 
  margin:0px 20px 20px 20px; 
  text-transform: uppercase;
  color: var(--lime); 
  text-decoration: none;
} 
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--lime);
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lime);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .navHeader h1 {
    display: none; 
  }
  .navHeader img{
    margin: 10px; 
  }
}

/* FOOTER */
footer {
  background: linear-gradient(#CEE3F4, #3396EB, #276CA4); 
  width: 100%; 
  padding: 20px; 
}
footer img {
  margin-bottom: 10px; 
}
footer p {
  text-align: center;
  font-size: 12px; 
}
footer .links a {
  margin-bottom:0; 
}

/* HOMEPAGE */
.pageHero {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px; 
  text-align: center;
}
.pageHero img {
  width: 30%; 
  margin: 20px; 
}
.cloud-container {
  position: relative;  
}
.cloud-container:hover {
  cursor:pointer; 
}
.cloud {
  width: 300px;  
}
.cloud-overlay {
  position:absolute; 
  top:50%; 
  left:50%; 
  transform: translate(-50%, -50%); 
  color:var(--orange); 
}
.GOTDcontainer {
  display: flex; 
  justify-content: space-evenly;
  align-items: center; 
  padding: 20px; 
  background-color: var(--blue);
  border-radius: 25px;
  text-align: center;
  box-shadow: var(--shadow); 
  margin: 20px 0px; 
}
.GOTDcontainer p {
  background-color:white;
  padding: 20px; 
  border-radius: 25px;
  width: 50%; 
}
.GOTDcontainer h2 {
  color:var(--lime); 
}
.gergcaster-container {
  background-color: var(--orange);
  border-radius: 25px;
  box-shadow: var(--shadow);
  padding: 20px; 
  margin: 20px 0px; 
  text-align: center;
}
.gergcaster-container h2 {
  color: var(--blue); 
}
.football-data {
  background-color: white;
  border-radius: 25px;
  width:100%; 
  padding: 10px; 
}
.football-data thead{
  text-decoration:underline; 
  font-weight:bold; 
}
.GCUContainer {
  background-color: var(--lime);
  box-shadow: 2px 2px 6px black;
  margin: 30px 0px; 
  padding: 20px; 
  border-radius: 25px;
}
.GCUContainer h2 {
  color: var(--orange); 
  text-align: center; 
  margin: 20px; 
}
.GCUCard {
  background-color: white;
  padding: 40px;  
  border-radius: 25px;
}
.GCUHeader {
  display: flex; 
  justify-content: space-between;
}
.GCUHeader h3, h4 {
  margin: 0; 
}


@media screen and (max-width: 786px){
  .body{
    margin-right:2%; 
    margin-left:2%; 
  }
  h2{
    font-size:40px; 
  }
  .pageHero {
    justify-content: center;
    flex-wrap: wrap; 
  }
  .pageHero img {
    width: 50%; 
  }
  .GOTDcontainer {
    justify-content: center;
    flex-wrap: wrap;
    padding:0; 
  }
  .GOTDcontainer p {
    width: 80%; 
  }
  .GOTDcontainer h2 {
    padding: 10px; 
  }
  .GCUContainer h2 {
    font-size:40px; 
  }
  .GCUCard p {
    text-align: center;
  }
}

/* GERG CHRONICLES PAGE */
.blogPostContainer {
  background-color: var(--blue); 
  padding: 20px; 
  border-radius: 25px;
  box-shadow: var(--shadow);
  margin: 20px 0px;
}
.blogPost {
  background-color: white;
  padding: 20px; 
  border-radius: 25px !important; 
}
.addBlogContainer {
  background-color: var(--lime);
  border-radius: 25px;
  box-shadow: var(--shadow);
  padding: 20px; 
  margin: 30px 0px; 
  text-align: center;
}
.addBlogContainer form input, .addBlogContainer form textarea {
  background-color: white; 
  border-radius: 25px;
  padding: 10px; 
  margin: 10px; 
  width: 90%; 
  border: solid 2px black; 
}
#blogTextarea {
  height:100px; 
}
.accordion-button:focus {
  box-shadow:none; 
}
.accordion-button:not(.collapsed) {
  background-color: white;
  color:black; 
  box-shadow: none;
}
.deleteIcon {
  color: red; 
}
.deleteIcon:hover {
  cursor: pointer;
}
.iconContainer {
  display: flex; 
  justify-content: flex-end;
  flex-wrap: nowrap;  
}
@media screen and (max-width: 768px) {
  .blogPostHeader {
    flex-wrap:wrap; 
  }
}

/* GERGALS */
.clouds {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.addWordContainer {
  background-color: var(--orange);
  border-radius: 25px;
  box-shadow: var(--shadow);
  padding: 20px; 
  margin: 30px 0px; 
  text-align: center;
}
.addWordContainer form input, .addWordContainer form textarea {
  background-color: white; 
  border-radius: 25px;
  padding: 10px; 
  margin: 10px; 
  width: 90%; 
  border: solid 2px black; 
}
#blogTextarea {
  height:100px; 
}
.popUpContainer {
  background-color: var(--lime);
  border-radius: 25px;
  box-shadow: var(--shadow);
  padding: 20px; 
  width: 90%; 
}