:root {
  --lime: #C6DB57; 
  --blue: #276CA4; 
  --orange: #F58242;  
}
.body {
  margin-right: 10%;
  margin-left: 10%; 
}
body{
  margin: 0; 
}
* {
  font-family: 'Lato', serif; 
}
main {
  flex: 1 0 auto; 
}
h1 {
  font-family: 'a Alloy Ink', serif; 
  font-size:58px;
}
h2 {
  font-family: 'a Alloy Ink', serif; 
  font-size:48px;
}

h3 {
  font-family: 'a Alloy Ink', serif; 
  font-size: 30px;
}
h4 { 
  font-size: 30px; 
  text-transform: uppercase;
}

p {
  font-size: 18px; 
}

/* NAVBAR */ 
nav { 
  background: linear-gradient(#CEE3F4, #3396EB, #276CA4); 
  width: 100%; 
}
.navHeader {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.navbarHeader {
  -webkit-text-stroke: .1px black;
  color:var(--orange); 
}
.links{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}
.links a{
  font-family: 'Lato', serif;
  font-size:18px; 
  margin:0px 20px 20px 20px; 
  text-transform: uppercase;
  color: var(--lime); 
  text-decoration: none;
} 
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--lime);
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lime);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .navHeader h1 {
    display: none; 
  }
  .navHeader img{
    margin: 10px; 
  }
}

/* HOMEPAGE */
.homepage-hero {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px; 
  text-align: center;
}
.homepage-hero img {
  width: 30%; 
  margin: 20px; 
}
.cloud-container {
  position: relative; 
}
.cloud {
  width: 80%; 
}
.cloud-overlay {
  position:absolute; 
  top:35%; 
  left:50%; 
  transform: translate(-50%, -50%); 
  color:var(--orange); 
}
.GOTDcontainer {
  display: flex; 
  justify-content: space-evenly;
  align-items: center; 
  padding: 20px; 
  background-color: var(--blue);
  border-radius: 25px;
  text-align: center;
  box-shadow: 2px 2px 6px black;
  margin: 20px 0px; 
}
.GOTDcontainer p {
  background-color:white;
  padding: 20px; 
  border-radius: 25px;
  width: 50%; 
}
.GOTDcontainer h2 {
  color:var(--lime); 
}
.gergcaster-container {
  background-color: var(--orange);
  border-radius: 25px;
  box-shadow: 2px 2px 6px black;
  padding: 20px; 
  margin: 20px 0px; 
  text-align: center;
}
.gergcaster-container h2 {
  color: var(--blue); 
}
.football-data {
  background-color: white;
  border-radius: 25px;
  width:100%; 
  padding: 10px; 
}
.football-data tr{
  padding: 20px 20px; 
}


@media screen and (max-width: 786px){
  .homepage-hero {
    justify-content: center;
    flex-wrap: wrap; 
  }
  .homepage-hero img {
    width: 50%; 
  }
  .GOTDcontainer {
    justify-content: center;
    flex-wrap: wrap;
    padding:0; 
  }
  .GOTDcontainer p {
    width: 80%; 
  }
  .GOTDcontainer h2 {
    padding: 10px; 
  }

}
